{% load pickertags %}{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}test{% endblock title %}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../static/images/favicon.png">
	{% block head %}{% endblock head %}
	{% load_css %}
	<style type="text/css">
	.navbar-ontop li>a {
	    color: white;
	    text-transform: uppercase;
	    line-height: 51px;
	}
	.navbar-ontop li>a:hover, .navbar-ontop li>a:focus {
	    color: #eee;
	    background-color: inherit;
	}
	.navbar-ontop .nav li.space {
	    width: 30px;
	    height: 51px;
	}
	.navbar-ontop {
	    background: #3686be;
	    border-bottom: 1px solid #ddd;
	    margin-bottom: 0;
	}
	.navbar-ontop .navbar-toggle {
	    margin-top: 20px;
	}
	.navbar-ontop .navbar-toggle {
	    border-color: transparent;
	}
	.navbar-ontop .navbar-toggle .icon-bar {
	    background-color: #ffffff;
	}
	.navbar-toggle .icon-bar {
	    display: block;
	    width: 30px;
	    height: 4px;
	}
	.brand {
	    font-size: 23px;
	}
	a.navbar-brand {
	    color: white;
	    height: 80px;
	    line-height: 50px;
	}
	</style>
	{% block css %}{% endblock %}
	{% block less %}{% endblock %}
	{% load_js %}
	{% block script %}{% endblock script %}
</head>
<body onLoad="randomimg()">
	{% block header %}
	{% endblock header %}
	{% block container %}{% endblock container %}
</body>
</html>