{% extends "accounts_base.html" %}
{% block css %}
<style>
body {
    padding: 90px 0 0 0;
}
.vertical-form {
    margin: 0 auto;
    width: 325px;
}
legend {
    font-size: 26px;
    text-align: center;
}
.form-control {
    border-radius: 3px;
    box-shadow: inherit;
    height: 53px;
    font-size: 18px;
    color: #565656;
    margin: 0 auto 18px auto;
    transition: all 0.2s ease-in-out;
}
button.btn-primary {
    border-color: #2b6a93;
    background-color: #3686bb;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    font-size: 15px;
    width: 100%;
    height: 53px;
    margin: 0 auto 25px auto;
}
button.btn-primary:hover {
    background-color: #2b6a93;
}
button.btn-default {
    border-color: #efefef;
    background-color: #fefefe;
    color: #777;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    font-size: 15px;
    width: 100%;
    height: 53px;
    margin: 0 auto 25px auto;
}
button.btn-default:hover {
    border-color: #efefef;
    background-color: #efefef;
    color: #777;
}

p.text {
    font-size: 16px;
    text-align: center;
}
p.text > a{
    color: black;
    text-decoration: none;
    border-bottom: solid 1px black;
}
.login-text {
    text-align: center;
    font-size: x-large;
    margin-bottom: 21px;
}
@media(max-width: 550px) {
    .vertical-form {
        width: 100%;
    }
}
</style>
{% endblock css %}
{% block header %}{% endblock header %}
{% block container %}
<form action="" class="vertical-form" method="post">
    {% csrf_token %}
    <legend>เข้าสู่ระบบ</legend>
    <div class="login-text">Login as <b>{{ user.username }}</b></div>
    <div class="row">
        <div class="col-xs-6">
            <button class="btn btn-default" name="confirmation" value="No">Not me</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-primary" name="confirmation" value="Yes">Confirm</button>
        </div>
    </div>
</form>
{% endblock container %}