{% extends "accounts_base.html" %}
{% load static %}
{% block css %}
<style>
html,
body {
  height: 100%;
  width: 100%;
}
#randomimg {
  height: 100%;
  width: 100%;
}
#nvmain			{width: auto;	margin-left: auto;		margin-right: auto;		margin-top: 0px;	margin-bottom: 0px;   padding: 250px;}
#nvbody1		{
				width: 500px;
				height: auto;
				margin-left: auto;
				margin-right: auto;
				margin-top: 100px;
				margin-bottom: 15px;
				padding: 25px;		
				background: #fafafa; 				
				-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
				-moz-box-shadow:    0px 0px 2px rgba(0,0,0,0.2);
				box-shadow:         0px 0px 2px rgba(0,0,0,0.2);
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border: 5px solid #5c5c5c;	
				border-radius: 1px;				
}
.vertical-form {
    width: 450px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;		
	background: #fafafa;	
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
	-moz-box-shadow:    0px 0px 2px rgba(0,0,0,0.2);
	box-shadow:         0px 0px 2px rgba(0,0,0,0.2);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 5px solid #5c5c5c;	
	border-radius: 1px;	
}
legend {
    font-size: 26px;
    text-align: center;
}
.form-control {
    border-radius: 3px;
    box-shadow: inherit;
    height: 50px;
    width: 100%;
    font-size: 18px;
    color: #565656;
    margin: 0 auto 10px auto;
    transition: all 0.2s ease-in-out;
}
button.btn-primary {
    border-color: #3686bb;
    background-color: #3686bb;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    font-size: 15px;
    width: 100%;
    height: 50px;
    margin: 0 auto 10px auto;

}
button.btn-primary:hover {
    background-color: #2b6a93;
}

p.text {
    font-size: 16px;
    text-align: center;
}
p.text > a{
    color: black;
    text-decoration: none;
    border-bottom: solid 1px black;
}
@media(max-width: 550px) {
    .vertical-form {
        width: 100%;
    }
}
</style>
<script type="text/javascript">
function randomimg() {
    var heroPics = ['../../static/images/box_bg_niera_01.png', '../../static/images/box_bg_niera_02.png'];

    $('body').css({
        'background' : 'url('+ heroPics[Math.floor(Math.random() * heroPics.length)] + ') no-repeat',
        'background-attachment' : 'scroll',
        'background-position' : '50% 50%',
        'background-size' : 'cover'
    });
}
</script>
{% endblock css %}
{% block title %}HAPPY ARMY SYSTEM{% endblock title %}
{% block header %}{% endblock header %}
{% block container %}
<div id="nvmain">  
<div id="nvbody1">    
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="username" class="form-control" placeholder="Username" size="30" value=""/>
    <input type="password" name="password" class="form-control" placeholder="Password" size="30" value=""/>
    <button class="btn btn-primary">Sign In</button>
    {% comment %}
    <p class="text">
        ยังไม่มีบัญชีใช้งาน?
    <a href="{% url 'accounts.register' %}">สมัครสมาชิก</a>
    </p>
    {% endcomment %}
</form>    
    <p></p>
</div>   
</div>  
{% endblock container %}